.input
{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color: black;
}

.outlined {
	background-color: #f6f5f7;;
	color: #9A9A9A;
	border-bottom: #999999 solid 1px;
	font-size: large;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}