.root
{
    padding: 10px;
    border-radius: 100%;
    border: none;
    margin: 5px;

    @apply active:scale-90 hover:brightness-90
}

.primary {
    background-color: #DDDDDD;
}

.primary svg {
    color: black;
}
