.root{
    background-color: #FFFFFF;
    padding: 0.5rem 0.5rem 1rem 0.5rem;

    margin: 1rem;
    margin-top: 3rem;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    max-width: 30rem;
    max-height: 25rem;
}
.root img
{    
    min-width: 18rem;
    min-height: 10rem;
    object-fit: cover;
}
.root:hover{
    filter: brightness(110%);
    box-shadow: 0 0 14px;
    transform: translateY(-8%) scale(107%);
    transition-duration: 0.3s;
}

.inner {
    padding: 0 0.2rem 0.2rem 0.2rem;
}