.root
{
    background:url(../../images/552581.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.h1{
    color: white;
}
